.box{
    transform:rotateZ(45deg) translateX(100%);
}

.box{
    width: 150px;
    height: 150px;
    border: solid;
    text-align: center;
    font-size: 8em;
}
#box1{
    background-color: aqua;
    text-size-adjust: 10em;
}

#box2{
    background-color: brown;
}
#box3{
    background-color: blueviolet;
}