body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navpag ul{
    list-style-type:none;
    background-color: rgb(159, 151, 151);
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.navpag a{
    color: rgb(245, 243, 243);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navpag a:hover{
    background-color: black;
}
.navpag li{
    float: left;
}