.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: aqua;
    color: blue;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(239, 238, 238);
    min-width: 100px;
    box-shadow: 2px 2px 5px;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: azure;
}.dropdown a:hover{
    background-color: aquamarine;
}